.campo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 20px;
}

input {
    font-size: 20px;
    padding: 16px 10px;
    border-radius: 8px;
    border-style: none;
}

@media (max-width: 500px) {
    .campo {
        width: 90%;
        gap: 0;
    }

    input {
        padding-left: 0;
        padding-right: 0;
    }
}
