.form {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.tituloSelect {
    display: flex;
    align-items: center;
    gap: 20px;
}

.imagemVideo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.textareaContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 575px;
}

.botoes {
    display: flex;
    gap: 30px;
}
