.headerMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 50px;
    border-bottom: 2px solid var(--color-primary);
}

.navHeader {
    display: flex;
    gap: 25px;
}