/* Responsividade */
@media (max-width: 1452px) {
    .grupo {
        overflow-x: scroll;
        scrollbar-width: thin;
        scroll-behavior: smooth;
    }
}

@media (max-width: 1024px) {
    .titulo {
        display: flex;
        justify-content: center;
    }
}
