.grupo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.elementCavaleiro {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.iconesTextosContainer {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.iconesTextos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.iconesTextos img {
    width: 25px;
    height: 28px;
}