.iconesTextos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.modalOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 40px;
    background: transparent;
    width: 35%;
    padding: 20px 10px 40px 10px;
    border: 2px solid var(--color-primary);
    border-radius: 12px;
}

.modalContent img {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 25px;
    cursor: pointer;
}

.formModal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}

.modalBotoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;     
}

/* Responsividade */
@media (max-width: 1024px) {
    .modalContent {
        top: 20px;
        padding: 30px 145px;
    }
}

@media (max-width: 500px) {
    .modalContent {
        top: 10px;
        padding: 20px 100px;
    }

    .modalContent h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .modalBotoes {
        flex-direction: column;
    }
}
